#nav2 ul, #nav2 li{
    margin: 0;
    padding: 0;
    list-style: none;
}

#nav2 li.menuCont{
    position: relative;
    width: 300px;

    font-size: 2em;
    display: inline-block;
}

#nav2 .menuOpcio{
    width: 100%;
    background: #f1ffc3;
    display: inline-block;
}

#nav2 ul.menuDesplegable{
    display: none;
    position: absolute;
    width: 100%;
}

#nav2 li.menuCont:hover ul.menuDesplegable{
    display: block;
}