#nav3 ul, #nav3 li{
    margin: 0;
    padding: 0;
    list-style: none;
}

#nav3 li.menuCont{
    position: relative;
    width: 300px;

    font-size: 2em;
    display: inline-block;
}

#nav3 .menuOpcio{
    width: 100%;
    background: #f1ffc3;
    display: inline-block;
}

#nav3 ul.menuDesplegable{
    position: absolute;
    opacity: 0;
    transition: 500ms;
    width: 100%;
}

#nav3 li.menuCont:hover ul.menuDesplegable{
    opacity: 1;
    display: block;
}